:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    header {
        height: 10%;
        background-color: gainsboro;
        border-bottom: solid black 3px;
    }

    .content-low {
        display: flex;
        height: 90%;

        nav {
            width: 30%;
            background-color: gainsboro;
        }

        main {
            width: 70%;
        }
    }

    footer {
        background-color: gainsboro;
    }
}